body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f0f0f0;
    color: #333;
  }
  
  h1 {
    color: #3498db;
  }
  
  p {
    color: #555;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 50px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #result {
    font-size: 24px;
    margin-top: 20px;
    color: #27ae60;
  }
  
  #history {
    font-size: 18px;
    margin-top: 10px;
  }
  
  #error,
  #crown {
    font-size: 100px;
    display: none;
    margin-top: 50px;
  }
  
  #error {
    color: #e74c3c;
  }
  
  #crown {
    color: #f39c12;
  }
  
  .arrow-up,
  .arrow-down {
    font-size: 24px;
    color: #fff;
  }
  
  #attempts {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
  
  #warning {
    font-size: 18px;
    color: #e74c3c;
    margin-top: 10px;
  }
  
  #attempts-label {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
  }
  
  #attempts-selector {
    font-size: 16px;
    padding: 5px;
    color: #333;
  }
  